<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1>Aplicaciones de sensores en robótica</h1>
  <img src="assets/sensoresrob.jpg" class="imagenes">
  <p class="description" style="text-align: justify;">
    Los sensores para robots móviles son los dispositivos que le permiten al robot percibir e interactuar con el entorno físico que le rodea y reaccionar de manera eficaz y segura. En este artículo puede consultar el listado con los principales sensores usados en robótica móvil y cuál es la función de cada uno.
  </p>
  <p class="description" style="text-align: justify;">
    ¿QUÉ SENSORES DEBE TENER UN ROBOT MÓVIL?
    Los sensores para robots móviles posibilitan la interacción con el entorno, la toma de decisiones en tiempo real y la ejecución de tareas de manera autónoma.
  </p>

  <p class="description" style="text-align: justify;">
    Para que los AMR operen con verdadera autonomía, es necesario contar con sistemas de localización robustos capaces de enfrentarse a entornos dinámicos y desestructurados. Este tipo de entornos propios de fábricas, almacenes o escenarios logísticos similares, requieren del reconocimiento del entorno en tiempo real que garantice el movimiento, la navegación y la planificación de trayectorias basadas en la localización del robot.</p>

  <p class="description" style="text-align: justify;">
    En este sentido, cabe destacar la relevancia de uno de los sensores de localización más avanzados: los Lidar 3D (por su acrónimo en inglés: Light Detection and Ranging). Se trata de una tecnología de escaneo, medición y detección basada en pulsos de luz láser para detectar objetos y medir la distancia a ellos, permitiendo al AMR (Autonomous Mobile Robot) crear un mapa en 3D del entorno en tiempo real y localizarse con precisión en ese mapa.
  </p>
  <ion-button expand="full" color="danger" href="https://robotnik.eu/es/tipos-de-sensores-en-robotica-movil/">Te sugerimos esta pp</ion-button>