<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-button color="primary" routerLink="/instituciones">Regresar</ion-button>
  <h1>Tecnológico Nacional de México</h1>
  <img src="assets/tec.png">
  <h1>El Tecnológico Nacional de México (TecNM), antiguamente llamado Dirección General de Educación Superior Tecnológica de México o Sistema Nacional de Institutos Tecnológicos de México1​ es un sistema educativo de educación superior pública que engloba un conjunto de Institutos Tecnológicos o Campus presentes en toda la República Mexicana.</h1>
  <h1>MISIÓN</h1>
  <H1>
    Formar integralmente profesionales competitivos de la ciencia, la tecnología y otras áreas de conocimiento, comprometidos con el desarrollo económico, social, cultural y con la sustentabilidad del país.
  </H1>
  <h2>VISIÓN</h2>
  <H1>
    El TecNM es una institución de educación superior tecnológica de vanguardia, con reconocimiento internacional por el destacado desempeño de sus egresados y por su capacidad innovadora en la generación y aplicación de conocimientos.
  </H1>
  <ion-button expand="full" color="danger" href="https://www.tecnm.mx/">Ir a la página de la escuela</ion-button>
</ion-content>