<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Análisis Cluster</h1>
  <img src="assets/DR. FRANCISCO JACOB ÁVILA CAMACHO.jpg" class="imagenes">
  <p class="description">
    Ingeniero en Electrónica y Computación, con Maestría en Ingeniería en Sistemas Computacionales, Maestría en Ciencias en Administración de Negocios y Doctorado en Sistemas Computacionales. </p>
  <p class="description">
    Se ha desempeñado en las áreas de desarrollo de software y soluciones tecnológicas, cuenta con más de 18 años de experiencia docente e investigación en las áreas de inteligencia artificial, reconocimiento de patrones, internet de las cosas, diseño de bases de datos, programación y desarrollo web.
  </p>

  <p class="description">
    Actualmente es también Coordinador del Centro de Cooperación Academia Industria del TESE  </p>
  <ion-button expand="full" color="danger" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117">Te sugerimos esta pp</ion-button>
</ion-content>
