<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Python</h1>
  <img src="assets/python.jpg" class="imagen">
  <p class="description"style="text-align: justify;">
    Python es un lenguaje de programación potente y fácil de aprender. Tiene estructuras de datos de alto nivel eficientes y un simple pero efectivo sistema de programación orientado a objetos. La elegante sintaxis de Python y su tipado dinámico, junto a su naturaleza interpretada, lo convierten en un lenguaje ideal para scripting y desarrollo rápido de aplicaciones en muchas áreas, para la mayoría de plataformas.
  </p>
  <p class="description"style="text-align: justify;">
    El intérprete de Python y la extensa librería estándar se encuentran disponibles libremente en código fuente y de forma binaria para la mayoría de las plataformas desde la Web de Python (<a href="https://www.python.org/" target="_blank">https://www.python.org/</a>), y se pueden distribuir libremente. El mismo sitio también contiene distribuciones y referencias a muchos módulos libres de Python de terceros, programas, herramientas y documentación adicional.
  </p>
  <p class="description"style="text-align: justify;">
    El intérprete de Python es fácilmente extensible con funciones y tipos de datos implementados en C o C++ (u otros lenguajes que permitan ser llamados desde C). Python también es apropiado como un lenguaje para extender aplicaciones modificables.
  </p>
  <ion-button expand="full" color="danger" href="https://www.python.org" class="button">
    Ir a la página de Python
  </ion-button>
</ion-content>