<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Python</h1>
  <img src="assets/M_EN A.D.N. JUAN MANUEL STEIN CARRILLO.png" class="imagenes">
  <p class="description">
    Es ingeniero en sistemas computacionales, Egresado del Tecnológico de Estudios Superiores de Ecatepec, estudió dos maestrías, la primera en Ingeniería en Sistemas Computacionales, y la segunda en Administración y Desarrollo de Negocios con doble titulación por parte de la Universidad del Valle de Toluca (México) y la Universidad Politécnica de Cataluña (España).
    <p class="description">
      Realiza actividades de profesor investigador en distintas áreas como son: Inteligencia Artificial, Redes Neuronales Artificiales e Interacción Humano-Computadora, entre otras. Cabe mencionar que actualmente he desarrollado proyectos con Inteligencia Artificial y Redes neuronales integradas en placas embebidas, participando en convocatorias del TecNM, COMECYT y CONAHCYT.
  </p>
  <ion-button expand="full" color="danger" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117">Te sugerimos esta pp</ion-button>
</ion-content>