<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Gathering Information</h1>
  <img src="assets/DR_ADOLFO_MELÉNDEZ_RAMÍREZ.jpg" class="imagenes">
  <p class="description">
    Es profesor de tiempo completo en el Tecnológico de Estudios Superiores de Ecatepec, en la División de Ingeniería de Sistemas Computacionales.</p>
  <p class="description">
    Además, es el líder del cuerpo académico en inteligencia artificial aplicada, colaborando dentro del Centro de Cooperación Academia-Industria del TESE. 
  </p>

  <p class="description">
    Debido a su destacado trabajo, ha recibido reconocimiento como un perfil deseable acreditado por PROMEP </p>
  <ion-button expand="full" color="danger" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117">Te sugerimos esta pp</ion-button>
</ion-content>