<ion-footer collapse="fade" class="footer">
  <ion-content>
    
  </ion-content>
  
  <ion-toolbar class="toolbar" color="light">
    <ion-title style="font-style: italic">Conócenos</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <h3 style="font-style: italic">Dirección de la Sede</h3>
                <p style="font-style: italic">Av. Tecnológico S/N, Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México</p>
                <p style="font-style: italic">Código Postal: 55210</p>
                <a href="https://www.google.com/maps/place/TecNM+-+Tecnol%C3%B3gico+de+Estudios+Superiores+de+Ecatepec/@19.5117284,-99.0413864,17z/data=!4m6!3m5!1s0x85d1fa94a2bf91f9:0x700d93a5d515a259!8m2!3d19.5106769!4d-99.0406105!16s%2Fg%2F121xcx9l?hl=es&entry=ttu" target="_blank">
                  <img
                    alt="Sede"
                    src="../../assets/mapa tese (2).jpeg" 
                    style="width: 80px; height: 80px;"
                  />
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="12" size-md="6">
          <h3 style="font-style: italic">Redes Sociales:</h3>
          <ion-row>
            <ion-col size="6">
              <ion-button shape="round" fill="clear" color="primary" size="small" href="https://www.facebook.com/FamiliaTESE">
                <ion-icon slot="icon-only" name="logo-facebook" style="width: 80px; height: 80px;"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button shape="round" fill="clear" size="small" href="https://youtube.com/channel/UC-QmepRifyoSZ3m4xeqUulQ">
                <ion-icon slot="icon-only" name="logo-youtube" style="width: 80px; height: 80px;"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
         
          <ion-button shape="round" fill="clear" routerLink="/organization" size="small" style="font-style: italic">
            Organizadores
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  <ion-card *ngFor="let i of institutions">

    <ion-card-content>

      <h3 style="text-align: center; margin-bottom: 30px; color: white; font-weight: bold; font-size: 15PX; text-decoration: none; font-style: italic;">{{i.nameInstitution}}</h3>

      <a href="{{i.link}}" target="_blank">

      <img style="width: 200px; height: 200px; margin-left: 100px;" src="{{i.ruta}}" alt="Imagen 1">

    </a>

    </ion-card-content>

  </ion-card>    
</ion-footer>
