<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Análisis Forense con Kali Linux</h1>
  <img src="assets/kali.jpg" class="imagen">
  <p class="description" style="text-align: justify;">
    Kali Linux es una distribución de Linux basada en Debian, específicamente diseñada para temas de seguridad muy variados, como análisis de redes, ataques inalámbricos, análisis forenses y otros que más adelante citaremos. Contiene herramientas para llevar a cabo todas estas pruebas de seguridad y análisis.
  </p>
  <p class="description" style="text-align: justify;">
    Fue desarrollado en base a la reescritura de BackTrap, otra distribución de Linux para semejantes usos, por Mati Aharoni y Devon Kearns de Offensive Security.
  </p>
  <p class="description" style="text-align: justify;">
    Kali Linux se encuentra entre las distribuciones de seguridad de Linux más usadas, ya que es una de las mejores, tanto para uso personal como profesional, proporcionando a los usuarios paquetes de herramientas como Foremost, Wireshark, Maltigo as-Aircrack-ng, Kismet y más.
  </p>
  <ion-button expand="full" color="danger" href="https://openwebinars.net/" class="button">
    Ir a la página sobre Kali Linux
  </ion-button>
</ion-content>