<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1>Análisis Forense con Kali Linux </h1>
  <img src="assets/kali.jpg">
    <H1>
      Kali Linux es una distribución de Linux basada en Debian, específicamente diseñada para temas de seguridad muy variados, como análisis de redes, ataques inalámbricos, análisis forenses y otros que más adelante citaremos. Contiene herramientas para llevar a cabo todas estas pruebas de seguridad y análisis.
Fue desarrollado en base a la reescritura de BackTrap, otra distribución de Linux para semejantes usos, por Mati Aharoni y Devon Kearns de Offensive Security.
Kali Linux se encuentra entre las distribuciones de seguridad de Linux más usadas, ya que es una de las mejores, tanto para uso personal como profesional, proporcionando a los usuarios paquetes de herramientas como Foremost, Wireshark, Maltigo as-Aircrack-ng, Kismet y más.
Algunas de estas herramientas seguro que te suenan bastante, sobre todo Wireshark, de la que tenemos un interesante artículo nuestro blog, hablando sobre la misma.
    
  </H1>
  <h2></h2>
  <H1>
      </H1>
  <ion-button expand="full" color="danger" href="https://openwebinars.net/">Ir a la página sobre kali linux </ion-button>
</ion-content>