<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Análisis Forense con Kali Linux</h1>
  <img src="assets/Dr. EMMANUEL TONATIHU_JUAREZ_VELAZQUEZ.jpeg" class="imagenes">
  <p class="description">
    El Dr. Emmanuel Tonatihu Juárez Velázquez, es Ingeniero en Electrónica y Comunicaciones, Maestro en Ingeniería en Sistemas Computacionales y Doctor en Comunicaciones y Electrónica.</p>
  <p class="description">
    Actualmente se desempeña como profesor investigador y profesor de posgrado en diferentes instituciones educativas
  </p>

  <p class="description">
    Entre sus principales áreas de de desarrollo se encuentran las redes de computadoras, los sistemas operativos, los sistemas embebidos, la seguridad informática, y la inteligencia artificial.</p>
  <ion-button expand="full" color="danger" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117">Te sugerimos esta pp</ion-button>
</ion-content>