<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">NODE.JS & COHERE: SENTIMENT ANALYSIS</h1>
  <img src="assets/ING_LUIS_FERNANDO_FERNANDEZ_CRUZ.jpg" class="imagenes">
  <p class="description">
    Tengo experiencia en tecnologías de la información, con enfoque en desarrollo de front-end. Soy el tipo de persona que aprovecha cada oportunidad para aprender algo nuevo. </p>
  <p class="description">
    or eso disfruto de los desafíos. Me encanta trabajar y colaborar con gente diferente. En Uber & Cornershop se trabajó con React y otras bibliotecas o metodologías como Jest, Enzyme, Sass, BEM, Mock Service Worker, etc.
  </p>

  <p class="description">
    Actualmente estoy trabajando para la empresa Badak en actividades como cambio cultural, programas de capacitación, charlas tecnológicas. Disfruto codificando, así que sigo programando y revisando código.
</p>
  <ion-button expand="full" color="danger" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117">Te sugerimos esta pp</ion-button>
</ion-content>