.header-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.segment-container {
  margin-top: 10px;
}

.segment-button {
  border: 2px solid #000000;
  border-radius: 15px;
  margin: 5px;
  background-color: #adff2f;
}

.segment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.segment-label {
  font-size: 1em;
  color: #000000;
}