<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="contact-grid">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-label>Dirección:</ion-label>
          <ion-note>Av. Tecnológico, Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>Teléfono:</ion-label>
          <ion-note>01 (55) 50 00 23 00</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Correo:</ion-label>
          <ion-note>web@tese.edu.mx</ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <!-- Agrega el logo aquí -->
        <ion-img src="../../assets/estudiantes.webp"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>Facebook:</ion-label>
          <ion-note>facebook.com/FamiliaTese</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          <ion-label>YouTube:</ion-label>
          <ion-note>youtube.com/Familia TESE</ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-label>Horario de Atención:</ion-label>
          <ion-note>Lunes a Viernes: 9:00 AM - 6:00 PM</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

