#grid{
    background-color: greenyellow;
}
#menu{
    margin-top: 12px;
    height: 48px;
}
#nav{
    margin-top: 8px;
    width: 206px;
}


/* Estilos generales para la página de contacto */

.contact-content {

    background-color: #f4f4f4; /* Color de fondo */

    padding: 20px;

  }

 

  /* Estilo para los elementos de contacto */

  .contact-item {

    background-color: #fff; /* Color de fondo para los elementos */

    border-radius: 8px; /* Bordes redondeados */

    padding: 20px; /* Espaciado interior */

    margin-bottom: 20px; /* Espacio entre elementos */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */

    transition: transform 0.3s ease-in-out;

  }

 

  .contact-item:hover {

    transform: scale(1.05); /* Efecto de escala al pasar el mouse */

  }

 

  /* Estilo para las imágenes de contacto */

  .contact-image {

    width: 100%;

    max-height: 300px; /* Altura máxima de la imagen */

    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio */

    border-radius: 8px; /* Bordes redondeados */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */

  }

 

  /* Estilos para los íconos */

  ion-icon {

    font-size: 24px; /* Tamaño de fuente de los íconos */

    margin-right: 10px; /* Espacio a la derecha de los íconos */

    color: #007bff; /* Color de los íconos (azul en este caso) */

  }

 

  /* Estilo para el título "Contacto" */

  ion-title {

    font-size: 24px;

    font-weight: bold;

    text-align: center;

    margin-top: 20px;

    color: #333; /* Color del texto del título */

  }

 

  /* Estilos para las etiquetas y notas */

  ion-label, ion-note {

    font-size: 16px;

    color: #666; /* Color del texto */

  }

 

  /* Estilo para los enlaces en las notas */

  ion-note a {

    color: #007bff; /* Color del enlace */

    text-decoration: none; /* Sin subrayado en los enlaces */

    transition: color 0.3s ease-in-out;

  }

 

  ion-note a:hover {

    color: #0056b3; /* Cambio de color al pasar el mouse sobre el enlace */

  }

 