.imagenes {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
  vertical-align: middle; /* Centra verticalmente */
}
  .button-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 10px; /* Añade margen superior según tus necesidades */
  }
  .text-center {
    text-align: center; /* Centrar el texto horizontalmente */
  }
  .descripcion {
    text-align: center;
    font-size: 17px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .descripcion1 {
    text-align: center;
    font-size: 25px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  ion-button.color1 {
    color: #adff2f;
    border: 1px solid var(--border-color);
  }
  ion-button {
    --background: #adff2f;
    color: #000000;
  }
  :root {
    --border-color: #000;
}