.imagenes {
  width: 20%; /* Ajusta el tama침o m치ximo de la imagen */
  height:50%; /* Ajusta el tama침o m치ximo de la imagen */
}
.description {
  text-align: justify;
  font-size: 20px;
  margin: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}