<app-program></app-program>
<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="height: 100vh;">
  <ion-button color="success" routerLink="/talleristas">Regresar</ion-button>
  <h1 style="font-size: 32px; font-weight: bold;">Aplicaciones de sensores en robótica</h1>
  <img src="assets/ING_JUAN_FRANCISCO_MELENDEZ_ELIZALDE.jpg" class="imagenes">
  <p class="description">
    De 1987–1993 desempeño dando Mantenimiento de equipo de cómputo e instructor de software de cómputo en general e instalación de Redes en diferentes filiales de IBM y de manera independiente hasta la fecha (más de 30 años). Desde 1992 como Docente en el Tecnológico de Estudios superiores de Ecatepec (TESE) Impartiendo diversas materias como: Ingeniería de Software, Bases de Datos, Teleproceso y Redes, Sistemas Abiertos, Análisis y diseño de sistemas, Sistemas Digitales, Arquitectura de computadoras, Teoría general de sistemas, Software de sistemas, Principios eléctricos y aplicaciones digitales, Física General, Matemáticas Discretas, Sistemas Programables.  </p>
  <p class="description">
    Desde 2002 como docente en el CECyT #3 “Estanislao Ramírez Ruiz” (Voca 3) impartiendo materias como: Dispositivos electrónicos, Redes Digitales, Instrumentación Electrónica, Programación Visual. Estudios 1987–1992 ESIME-ZAC (Escuela Superior de Ingeniería Mecánica y Eléctrica) IPN.
  </p>

  <p class="description">
    Ingeniero en Comunicaciones y Electrónica. 2000–2002 ESIME-ZAC-SEPI (Escuela Superior de Ingeniería Mecánica y Eléctrica) IPN (Sección de Estudios de Postgrado), MAESTRIA EN INGENIERIA EN SISTEMAS. 2011–2013 UNIVERSIDAD PEDAGÓGICA NACIONAL U.P.N. UNIDAD 092 AJUSCO (CENTRAL), ESPECIALIDAD EN EDUCACIÓN MEDIA SUPERIOR LÍNEA I. COMPETENCIAS DOCENTES. 2021–2022 Centro Interdisciplinario de Innovación y Posgrado, Maestría en Educación y Profesionalización Docente.  </p>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6">
        </ion-col>
        <ion-col size-md="6">
          <ion-button color="success" routerLink="/integrai" class="button">
            Ir a la página de IntegrAI Nexus
          </ion-button>
  </ion-col>
        <ion-col size-md="12">
          <ion-button color="success" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117" class="button">
            Ir a la página oficial del TESE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>