<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalledias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del día</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ dias.fecha }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Disponibilidad: {{ dias.disponibilidad }}</ion-label>
    </ion-card-content>
  </ion-card>
  </ion-content> -->
