<ion-content class="ion-text-center">
  <ion-button color="danger">TALLERES</ion-button>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-card>
        <img src="assets/sensores.png" class="imagen"/>
        <ion-card-header>
          <ion-card-title>Aplicaciones de sensores en Robótica</ion-card-title>
          <ion-card-subtitle>Mtro. Juan Francisco Meléndez Elizalde  Tecnológico de Estudios Superiores de Ecatepec</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>   
      <ion-col>
        <ion-card>
        <img src="assets/ia.jpg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>IntegrAI Nexus: Desencadenando la Innovación con IA Generativa</ion-card-title>
          <ion-card-subtitle>M. en I.S.C. Rubén Raya Delgado NDS Cognitive Labs del Tecnológico de Monterrey-Campus Santa Fe.</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>   
      <ion-col>
        <ion-card>
        <img src="assets/ROS.jpeg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>INTRODUCCIÓN A ROS Y OPENCV</ion-card-title>
          <ion-card-subtitle>Dr. Noé Velázquez López Universidad Autónoma Chapingo</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
        <img src="assets/gathering.jpg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>Gathering information</ion-card-title>
          <ion-card-subtitle>Dr. Adolfo Meléndez Ramírez del Tecnológico de Estudios Superiores de Ecatepec</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>   
      <ion-col>
        <ion-card>
        <img src="assets/python.jpg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>Programación con Python: Nivel Básico</ion-card-title>
          <ion-card-subtitle>M. en A.D.N. Juan Manuel Stein Carrillo del Tecnológico de Estudios Superiores de Ecatepec</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>    
      <ion-col>
        <ion-card>
        <img src="assets/kali.jpg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>Análisis Forense con Kali Linux</ion-card-title>
          <ion-card-subtitle>Ing. Eduardo Antonio Rodríguez Rosado BADAK</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col> 
      </ion-row> 
      <ion-row> 
      <ion-col>
        <ion-card>
        <img src="assets/kotlin.jpg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>Introducción a la programación con kotlin</ion-card-title>
          <ion-card-subtitle>L.I. José Alfredo Jiménez Meza del Instituto Tecnológico de Zitácuaro</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>   
      <ion-col>
        <ion-card>
        <img src="assets/analisis.jpg"class="imagen"/>
        <ion-card-header>
          <ion-card-title>Análisis de Clustering para clasificación de clientes.</ion-card-title>
          <ion-card-subtitle>Dr. Francisco Jacob Ávila Camacho Tecnológico de Estudios Superiores de Ecatepec</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="danger">Ver mas</ion-button>
      </ion-card>
      </ion-col>   
    </ion-row>
  </ion-grid>
</ion-content>