<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-grid id="grid">
        <ion-row >
          <ion-col size="10">
            <ion-menu contentId="main-content">
            </ion-menu>
            <div class="ion-page" id="main-content">
              <ion-header>
                <ion-toolbar id="menu">
                  <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>
                  <h1><ion-title>Menu</ion-title></h1>
                </ion-toolbar>
              </ion-header>
            </div>
          </ion-col>
          <ion-col size="1" >
            <ion-button (click)="aparecerDesaparecer()">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1">
              <ion-item>
                <ion-input *ngIf="bandera" placeholder="Buscar"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <h1><ion-title>Contenido Menu</ion-title></h1>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label routerLink="/access">Registro</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/institutions">Instituciones participantes</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label routerLink="/contact">Contacto</ion-label>
        </ion-item>
        <ion-item routerLink="/program">
          <ion-label>Programa General</ion-label>
        </ion-item>
        <ion-item color="dark">
          <h1><ion-label>Actividades</ion-label></h1>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/conferencias">Conferencias Magistrales</ion-label>
        </ion-item>
        <ion-item routerLink="/talleristas">
          <ion-label>Talleres</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/ponencias">Ponencias (Oral y Poster)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/cursos">Concurso de Programación de Algoritmos aplicados a la
            Ciberseguridad</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/torneo">Torneo de Robótica (Mega sumo telecontrolado, Mini sumo autónomo y Velocistas
            (seguidor de línea))</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/pagina1">Pagina 1</ion-label>
        </ion-item>
        <ion-item routerLink="/pagina2">
          <ion-label>Pagina 2</ion-label>
        </ion-item>
        <ion-item routerLink="/registrotall">
          <ion-label>Registro talleres</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de fechas y horarios para el evento. </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-grid>
      <ion-row>
    <ion-col></ion-col>
    <ion-col>
  <form [formGroup]="registra">
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-col>
          <div class="ion-text-center">
          <h1>Registro para el programa general</h1>
          </div>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-circle-sharp"></ion-icon>
          <ion-input label="Nombre" placeholder="Ingrese su nombre" formControlName="Nombre"></ion-input>
        </ion-item>
        <!--<ion-item>
          <ion-label *ngIf="bandera">Dato requerido</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-icon slot="start" name="id-card-sharp"></ion-icon>
            <ion-label>Correo</ion-label>
              <ion-input type="email" formControlName="Correo" pattern=".+@tese.edu.mx" placeholder="example@tese.edu.mx"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="key-sharp"></ion-icon>
          <ion-input label="Password" type="password" placeholder="Ingrese una contraseña" value="password" formControlName="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-sharp"></ion-icon>
          <ion-input label="Telefono" type="tel" placeholder="Ingrese su telefono" formControlName="Telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar-number-sharp"></ion-icon>
          <ion-select label="Selecciona la fecha deseada" label-placement="floating" fill="solid" formControlName="Fecha">
            <ion-select-option value="jueves">Jueves 28 de Septiembre 2023</ion-select-option>
            <ion-select-option value="viernes">Viernes 29 de Septiembre 2023</ion-select-option>
            <ion-select-option value="sabado">Sabado 30 de Septiembre 2023</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="time-sharp"></ion-icon>
          <ion-select label="Selecciona el horario deseado" label-placement="floating" fill="solid" formControlName="Horario">
            <ion-select-option value="horariouno"> 9:00 am - 12:00 pm </ion-select-option>
            <ion-select-option value="horariodos"> 9:00 am - 10:00 pm </ion-select-option>
            <ion-select-option value="horariotres">10:00 am - 01:00 pm </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="reader-sharp"></ion-icon>
          <ion-input label="Título"  placeholder="Ingrese el titulo del taller y/o conferencia" formControlName="Titulo"></ion-input>
        </ion-item>
        <ion-button (click)="guardar()" id="present-alert" expand="block" shape="round">Registrar</ion-button>
        <ion-alert
        trigger="present-alert"
        header="Registro exitoso"
        subHeader="Su registro se completó con éxito."
        [buttons]="alertButtons">
        </ion-alert>
      </ion-list>
    </ion-list>
   </form>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  </ion-grid>
</ion-content>