<app-program></app-program>
<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button class="color2" routerLink="/instituciones">Regresar</ion-button>
  <h1 class="description1">{{detalleid.escuela}}</h1>
  <img src="{{detalleid.imagen}}" class="imagenes"/>
  <p class="description">{{detalleid.descripcion1}}</p>
  <p class="description">{{detalleid.descripcion2}}</p>
  <p class="description">{{detalleid.descripcion3}}</p>
  <p class="description">{{detalleid.descripcion4}}</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="color1" [routerLink]="detalleid.enlace1" routerDirection="forward" class="segment-button">
          {{detalleid.anterior}}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="color1" (click)="onClick()"src='detalleid.enlace3' routerDirection="forward" class="segment-button">
          Ir a la página oficial del TESE
        </ion-button>
      </ion-col>
      <ion-col> 
        <ion-button class="color1" [routerLink]="detalleid.enlace2" routerDirection="forward" class="segment-button">
          {{detalleid.siguiente}}
        </ion-button>      
      </ion-col>
    </ion-row>
  </ion-grid>

