<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1>Introducción a ROS y OPENCV</h1>
  <img src="assets/ROS.jpeg">
    <H1>¿Qué es ROS?
      es un meta sistema operativo de código abierto para tu robot. Provee de servicios que se esperarían de un sistema operativo, incluyendo abstracción de hardware, control de dispositivos de bajo nivel, implementación de funcionalidades comunes, pasaje de mensaje entre procesos y manejo de paquetes. También brinda herramientas y librerías para obtener, construir, escribir y correr código a través y mediante varias computadoras. ROS es similar a otras estructuras o armazones para robot como player, YARP, Orocos, Carmen, Orca, Moos, y Microsoft robotic studios .
      El gráfico de procesos de ROS es una red de procesos peer-to-peer (potencialmente distribuidos en máquinas) que se acoplan de forma sencilla por medio de la infraestructura de comunicación de ROS. ROS implementa varios estilos de comunicación, incluyendo por ejemplo: comunicaciones del estilo RPC sincrónico sobre services, transmisiones de información asincrónica en topics, y guardado de datos en un servidor de parámetros. Todo lo anterior se explica con mayor profundidad en nuestro conceptual overwiew.
      ROS no es una estructura o armazón de despliegue en tiempo real, aunque es posible integrar a ROS código vivo. El robot PR2 de The Willow Garage usa un sistema llamado pr2 etherCat, que transporta los mensajes ROS a través de los procesos en tiempo real. ROS también tiene integración perfecta con el conjunto de herramientas orocos. 
      
  </H1>
  <h2></h2>
  <H1>
      </H1>
  <ion-button expand="full" color="danger" href="https://roboticscasual.com/">Ir a la página sobre ros</ion-button>
</ion-content>