<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Introducción a ROS y OpenCV</h1>
  <img src="assets/ROS.jpeg" class="imagen">
  <p class="description" style="text-align: justify;">
    ¿Qué es ROS? ROS (Robot Operating System) es un meta sistema operativo de código abierto para robots. Provee de servicios que se esperarían de un sistema operativo, incluyendo abstracción de hardware, control de dispositivos de bajo nivel, implementación de funcionalidades comunes, pasaje de mensajes entre procesos y manejo de paquetes. También brinda herramientas y librerías para obtener, construir, escribir y correr código a través de varias computadoras.
  </p>
  <p class="description" style="text-align: justify;">
    ROS es similar a otras estructuras o armazones para robot como Player, YARP, Orocos, Carmen, Orca, Moos y Microsoft Robotic Studio. El gráfico de procesos de ROS es una red de procesos peer-to-peer (potencialmente distribuidos en máquinas) que se acoplan de forma sencilla por medio de la infraestructura de comunicación de ROS. ROS implementa varios estilos de comunicación, incluyendo por ejemplo: comunicaciones del estilo RPC sincrónico sobre services, transmisiones de información asincrónica en topics, y guardado de datos en un servidor de parámetros.
  </p>
  <p class="description" style="text-align: justify;">
    ROS no es una estructura o armazón de despliegue en tiempo real, aunque es posible integrar código en tiempo real con ROS. Por ejemplo, el robot PR2 de The Willow Garage usa un sistema llamado pr2 etherCat, que transporta los mensajes ROS a través de los procesos en tiempo real. ROS también tiene integración perfecta con el conjunto de herramientas Orocos.
  </p>
  <ion-button expand="full" color="danger" href="https://roboticscasual.com/" class="button">
    Ir a la página sobre ROS
  </ion-button>
</ion-content>