<ion-card class="card">
  <div class="image-container">
    <img src="{{detalleid.imagen}}" class="imagenes"/>
  </div>
  <ion-card-header class="text-center">
    <ion-card-title>{{detalleid.nomAct}}</ion-card-title>
    <ion-card-subtitle>{{detalleid.descripcion}}</ion-card-subtitle>
    <ion-card-subtitle>{{detalleid.escuela}}</ion-card-subtitle>
  </ion-card-header>
  <div class="button-container">
    <a [routerLink]="['/talleristas/',detalleid.id]" routerDirection="forward">
      <ion-button color="success">Ver más</ion-button>
    </a>
  </div>
</ion-card>