form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-input {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
