<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-grid id="grid">
        <ion-row >
          <ion-col size="10">
            <ion-menu contentId="main-content">
            </ion-menu>
            <div class="ion-page" id="main-content">
              <ion-header>
                <ion-toolbar id="menu">
                  <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>
                  <h1><ion-title>Menu</ion-title></h1>
                </ion-toolbar>
              </ion-header>
            </div>
          </ion-col>
          <ion-col size="2" >
            <ion-searchbar id="nav"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <h1><ion-title>Contenido Menu</ion-title></h1>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label routerLink="/access">Registro</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/institutions">Instituciones participantes</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label routerLink="/contact">Contacto</ion-label>
        </ion-item>
        <ion-item routerLink="/program">
          <ion-label>Programa General</ion-label>
        </ion-item>
        <ion-item color="dark">
          <h1><ion-label>Actividades</ion-label></h1>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/conferencias">Conferencias Magistrales</ion-label>
        </ion-item>
        <ion-item routerLink="/talleristas">
          <ion-label>Talleres</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/ponencias">Ponencias (Oral y Poster)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/cursos">Concurso de Programación de Algoritmos aplicados a la
            Ciberseguridad</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/torneo">Torneo de Robótica (Mega sumo telecontrolado, Mini sumo autónomo y Velocistas
            (seguidor de línea))</ion-label>
        </ion-item>
        <ion-item (click)="llamarp1()">
          <ion-label>Pagina 1</ion-label>
        </ion-item>
        <ion-item (click)="llamarp2()">
          <ion-label>Pagina 2</ion-label>
        </ion-item>
        <ion-item (click)="llamarregistrotall()">
          <ion-label>Registro talleres</ion-label>
        </ion-item>
        <ion-item (click)="llamarformuno()">
          <ion-label>Formulario Fechas de evento </ion-label>
        </ion-item>
        <ion-item (click)="llamarformdos()">
          <ion-label>Formulario para Descripcion </ion-label>
        </ion-item>
        <ion-item (click)="llamarlogin()">
          <ion-label>Formulario para Login</ion-label>
        </ion-item>
      </ion-list>
      
    </ion-content>
  </ion-menu>
  <ion-content>
    <img src="assets/baner1.jpg" alt="">
    <ion-footer id="footer">
      <ion-toolbar>
        <app-custom-footer></app-custom-footer>
      </ion-toolbar>
    </ion-footer>
    </ion-content>
 

   

 
</ion-app>