<app-program></app-program>
<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="success" routerLink="/talleristas">Regresar</ion-button>
  <h1 class="title">IntegrAI Nexus</h1>
  
  <img src="assets/M_EN_I_S_C_RUBÉN_RAYA_DELGADO.jpg" class="imagenes" >
  <p class="description" style="text-align: justify;">
    Orgullosamente titulado en el Tecnológico de Estudios Superiores de Ecatepec como M.I.S.C. especializado en desarrollo multiplataforma y soluciones tecnológicas avanzadas. 
  </p>
  <p class="description" style="text-align: justify;">
    Experto en integración de servicios de inteligencia artificial enfocados en la banca, atención a clientes y amplia experiencia en desarrollo de aplicaciones de software
  </p>
  <p class="description" style="text-align: justify;">
    Apasionado por la implementación de soluciones empresariales disruptivas y la integración de tecnologías de IoT de vanguardia para abordar desafíos en la industria de TI
  </p>
  <p class="description" style="text-align: justify;">
    Líder técnico en la empresa NDS Cognitive Labs y profesor de cátedra en el Instituto Tecnológico y de Estudios Superiores de Monterrey campus Santa Fe.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-button color="success" routerLink="/aplicaciones" class="button">
          Ir a la página de Aplicaciones de sensores en Robótica
        </ion-button>
      </ion-col>
      <ion-col size-md="6">
        <ion-button color="success" routerLink="/rosypencv" class="button">
          Ir a la página de Introducción a ROS y OPENCV
        </ion-button>
</ion-col>
      <ion-col size-md="12">
        <ion-button color="success" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117" class="button">
          Ir a la página oficial del TESE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>