<form>
<ion-select label="Roles" label-placement="floating" fill="outline">
  <ion-select-option value="Administrador">Administrador</ion-select-option>
  <ion-select-option value="Conferencista">Conferencista</ion-select-option>
  <ion-select-option value="Tallerista">Tallerista</ion-select-option>
  <ion-select-option value="Docente">Docente</ion-select-option>
  <ion-select-option value="Alumno">Alumno</ion-select-option>
  <ion-select-option value="Asesor">Asesor</ion-select-option>
  <ion-select-option value="Lider">Lider de equipo</ion-select-option>
  <ion-select-option value="Sublider">Sublider de equipo</ion-select-option>
  <ion-select-option value="Integrante">Integrante</ion-select-option>
  <ion-select-option value="Ponente">Ponente</ion-select-option>
</ion-select>
</form>
