<app-program></app-program>
<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="success" routerLink="/talleristas">Regresar</ion-button>
  <h1 class="title">Programación con Kotlin</h1>
  <img src="assets/L.I. JOSÉ ALFREDO JIMÉNEZ MEZA.jpg" class="imagenes">
  <p class="description">
    Licenciado en Informática con más de 25 años de experiencia docente en el TecNM campus Zitácuaro.
  <p class="description">
    Candidato a Maestro en Ciencias Computacionales. Especializado en desarrollo de software para aplicaciones desktop, tecnologías móviles y tecnologías web. Certificaciones técnicas en Fundamentos de Programación, Java y Android.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-button color="success" routerLink="/kali" class="button">
          Ir a la página de Análisis Forense con Kali Linux
        </ion-button>
      </ion-col>
      <ion-col size-md="6">
        <ion-button color="success" routerLink="/clustering" class="button">
          Ir a la página de Análisis de Clustering
        </ion-button>
</ion-col>
      <ion-col size-md="12">
        <ion-button color="success" href="http://cipieityr2023.tese.edu.mx/ccyt_conferencias/modulo_usuario/vista_evento_gen.aspx?id_evento=117" class="button">
          Ir a la página oficial del TESE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>