<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1>Programación con kotlin </h1>
  <img src="assets/kotlin.jpg">
    <H1>
      
Kotlin es un lenguaje de programación estático de código abierto que admite la programación funcional y orientada a objetos. Proporciona una sintaxis y conceptos similares a los de otros lenguajes, como C#, Java y Scala, entre muchos otros. No pretende ser único, sino que se inspira en décadas de desarrollo del lenguaje. Cuenta con variantes que se orientan a la JVM (Kotlin/JVM), JavaScript (Kotlin/JS) y el código nativo (Kotlin/Native).
Kotlin es administrado por Kotlin Foundation, un grupo que creó JetBrains y Google, que se ocupa de continuar el desarrollo del lenguaje. Google es compatible oficialmente con Kotlin para el desarrollo de Android, lo cual significa que la documentación y las herramientas de Android se diseñaron para admitir Kotlin.

  </H1>
  <h2></h2>
  <H1>
      </H1>
  <ion-button expand="full" color="danger" href="https://developer.android.com/">Ir a la página para aprender sobre kotlin</ion-button>
</ion-content>