<ion-content [fullscreen]="true" class="ion-padding ion-text-center content-container">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1 class="title">Análisis Forense con Kali Linux</h1>
  <img src="ssets/L.I. JOSÉ ALFREDO JIMÉNEZ MEZA.jpg" class="imagenes">
  <p class="description">
    Licenciado en Informática con más de 25 años de experiencia docente en el TecNM campus Zitácuaro.
  <p class="description">
    Candidato a Maestro en Ciencias Computacionales. Especializado en desarrollo de software para aplicaciones desktop, tecnologías móviles y tecnologías web. Certificaciones técnicas en Fundamentos de Programación, Java y Android.
  </p>
  <ion-button expand="full" color="danger" href="https://robotnik.eu/es/tipos-de-sensores-en-robotica-movil/">Te sugerimos esta pp</ion-button>
</ion-content>