.imagenes {
    width: 500px;
    height: 250px;
  }
  .button-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 10px; /* Añade margen superior según tus necesidades */
  }
  .text-center {
    text-align: center; /* Centrar el texto horizontalmente */
  }
    