<ion-content [fullscreen]="true" class="ion-padding ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-button color="primary" routerLink="/talleres">Regresar</ion-button>
  <h1>IntegrAI Nexus</h1>
  <img src="assets/ia.jpg">
    <H1>La aplicación de la inteligencia artificial en las empresas puede ayudar, entre otras cosas, a automatizar procesos. Mediante el uso de máquinas inteligentes, muchas tareas que antes se realizaban de forma manual y rutinaria ahora pueden programarse y llevarse a cabo en menor tiempo y con menos recursos. 
      En Nexus People creemos en una Inteligencia Artificial con un enfoque ético, lo primero son las personas, pero debemos ayudarnos en las nuevas tecnologías que desarrollen una actividad y nos entreguen el resultado deseado en el 100% de los casos. 
          
  </H1>
  <h2></h2>
  <H1>
      </H1>
  <ion-button expand="full" color="danger" href="https://nexusintegra.io/">Ir a la página de Nexus</ion-button>
</ion-content>