.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

#mapa{
  margin-left: 63px;
  //margin-bottom: 20px;
  //margin-right: 25px;
  margin: auto;
  margin-top: 35px;
  
  //max-width: 30px;
}

#footer{
  background-color: greenyellow;
}

#grid{
  background-color: greenyellow;
}
#menu{
  margin-top: 12px;
  height: 48px;
}
#nav{
  margin-top: 8px;
  width: 206px;
}