<ion-header>
  <ion-toolbar>
    <ion-title>
      Información de Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Teléfono
    </ion-card-header>
    <ion-card-content>
      {{ telefono }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Dirección
    </ion-card-header>
    <ion-card-content>
      {{ direccion }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Código Postal
    </ion-card-header>
    <ion-card-content>
      {{ codigoPostal }}
    </ion-card-content>
  </ion-card>
</ion-content>
