<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; font-family: 'Courier New', Courier, monospace; font-weight: bold;">
      Información de Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card>
    <ion-card-header>
      Teléfono
    </ion-card-header>
    <ion-card-content>
      {{ telefono }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Dirección
    </ion-card-header>
    <ion-card-content>
      {{ direccion }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Código Postal
    </ion-card-header>
    <ion-card-content>
      {{ codigoPostal }}
    </ion-card-content>
  </ion-card>
</ion-content>
