<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; font-family: 'Courier New', Courier, monospace; font-weight: bold;">
      Información de Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card>
    <ion-card-header>
      Teléfono
    </ion-card-header>
    <ion-card-content>
      {{ telefono }}
    </ion-card-content>
  </ion-card>

<ion-item>
  <ion-button slot="start">
    Dirección
    <ion-icon name="home" slot="end"></ion-icon>
  </ion-button>
  <ion-label>Av. Tecnológico S/N Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México</ion-label>
  <ion-button>
  </ion-button>
</ion-item>

<ion-item>
  <ion-button slot="start">
    <ion-icon slot="icon-only" name="navigate"></ion-icon>
  </ion-button>
  <ion-label>C.P. 55210</ion-label>
  <ion-button>
  </ion-button>
</ion-item>

<ion-item>
 
 
  <ion-button routerLink="/home" slot="end" size="default"> Regresar </ion-button>
  
