  <ion-select label="Categoria" label-placement="floating" fill="outline">
    <ion-select-option value="Megasumo">Megasumo</ion-select-option>
    <ion-select-option value="Minisumo">Minisumo</ion-select-option>
    <ion-select-option value="Velocista">Velocista</ion-select-option>
    <ion-select-option value="Busqueda">Busqueda y rescate</ion-select-option>
    <ion-select-option value="Dron">Dron</ion-select-option>
    <ion-select-option value="Seguidor">Seguidor de linea</ion-select-option>
  </ion-select>

  